<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Send email
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form="ngForm"
        (ngSubmit)="saveObject(form)">

    <div style="padding-left: 10px">
      <h2>Отправить сообщение</h2>
    </div>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input name="email" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>ФИО</ion-label>
      <ion-input name="name" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Телефон</ion-label>
      <ion-input name="phone" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Сообщение</ion-label>
      <ion-textarea name="message" ngModel></ion-textarea>
    </ion-item>

    <ion-button
            class="ion-padding"
            color="primary"
            expand="block"
            type="submit"
    >
      Отправить
    </ion-button>

  </form>

</ion-content>
